{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}

<main class="container py-4">
    <h1 class="text-center">Alumnos</h1>

    {# dump editoriales #} <!-- Lo saca a la consola-->
    
    
    <p> </p>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido 1</th> 
        <th scope="col">Apellido 2</th>     
        <th scope="col">Acciones</th>     
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
        <tr>
            <td> {{ estudiante.id }}</td>
            <td> {{ estudiante.nombre }}</td>
            <td> {{ estudiante.apellido1 }}</td>
            <td> {{ estudiante.apellido2 }}</td>
            <td>
              <a href="{{ path('home', {id: estudiante.id}) }}">Ver Notas</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
  </main>
  {% endblock %}